{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="center-size-sm">
            <div class="login-error-alert">
                <p>not found</p>
            </div>
        </div>
    </div>
{% endblock %}