<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ assets_path }}css/app.css"/>
        <script src="{{ assets_path }}js/jquery-3.7.1.min.js" defer></script>
        <script src="{{ assets_path }}js/app.js" defer></script>
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body class="background">
{#        {% include('_nav.html.twig') %}#}
        <div class="md:container md:mx-auto">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>