<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
{#        {% include('_nav.html.twig') %}#}
        <div class="md:container md:mx-auto">
            base
            {% block body %}{% endblock %}
        </div>
    </body>
</html>